<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Car</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="margin:16px;padding:16px">

<div class="container mt-5, text-left">
    <div class="alert alert-primary">
        <h1>
            <form action="#" th:action="@{/admin/addcar}" method="post" th:object="${car}">
                <table class="table" id="table">
                    <tr>
                        <td>
                            Model: <select th:field="*{model}">
                            <option th:each="car : ${(models)}"
                                    th:value="${car}"
                                    th:text="${car}">
                            </option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Price for one day <input type="number" th:field="*{price}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Color: <select th:field="*{color}">
                            <option th:each="car : ${(colors)}"
                                    th:value="${car}"
                                    th:text="${car}">
                            </option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Url to Photo: <input type="text" th:field="*{urlPhoto}"/>
                        </td>
                    </tr>
                </table>
                <button th:action="sumbit">Add car</button>

            </form>
        </h1>
    </div>
</div>


</body>
</html>