<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Car</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

</head>

<body style="margin:16px;padding:16px">

<div class="container mt-5, text-center">
    <div class="alert alert-success">
        <h1>Hello Admin!</h1>
        <h3>Car information</h3>
        <h2>
            <div class="row">
                <div class="col"><p th:text="'Id Car: ' + ${idCar}"/></div>
                <div class="col"><p th:text="'Model: ' + ${models}"/></div>
            </div>
        </h2>
        <h4>
            <div class="row">
                <div class="col"><p th:text="'Color: ' + ${colors}"/></div>
                <div class="col"><p th:text="'Price for day travel: ' + ${price}"/></div>
                <div class="col"><p th:text="'State: ' + ${state}"/></div>
            </div>

            <div class="row">
                <div class="col">
                    <img th:src="${url}" width="800"/>
                </div>
            </div>

            <div class="row">
                <div class="col"><p th:text="'Who borrow: ' + ${userFirstName} + ' '+ ${userLastName}"/></div>
            </div>

            <div class="row">
                <div class="col"><p th:text="'When: ' + ${userEnterDate} + ' - '+ ${userExitDate}"/></div>
            </div>

            <div class="row">
                <div class="col"><p th:text="'From: ' + ${userTravelFrom} + ' to: '+ ${userTravelTo}"/></div>
            </div>

            <div class="row">
                <div class="col"><p th:text="'Cash for this travel! ' + ${priceAll}"/></div>
            </div>

            <h1>
                <div class="row">
                    <div class="col"><p th:text="'Cash in my wallet ' + ${myWallet}"/></div>
                </div>
            </h1>
        </h4>

        <div class="row">
            <div class="col">
                <form action="#" th:action="@{/admin/delete}">
                    <button th:action="sumbit">Delete Car</button>
                </form>
            </div>
            <div class="col">
                <form action="#" th:action="@{/admin/edit}">
                    <button th:action="sumbit">Edit information</button>
                </form>
            </div>
            <div class="col">
                <form action="#" th:action="@{/admin/repair}" method="post">
                    <button th:action="sumbit">Repair</button>
                </form>
            </div>
            <div class="col">
                <form action="#" th:action="@{/admin/car}" >
                    <button th:action="sumbit">Back to list</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>