<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Show me your time</title>
</head>
<body background="https://www.wallpaperup.com/uploads/wallpapers/2013/12/30/209337/a456723ed43e77560628bd8ace73076f.jpg"
      style="margin:16px;padding:16px">

<div class="container, text-center">
    <div class="alert alert-primary">
        <h2>
            <form action="#" th:action="@{/client/time}" method="post" th:object="${carborrowing}">

                <table class="table" id="table">
                    <tr>
                        <td>
                            <p>
                                Start Your travel: <input type="date" th:value="*{dateEnter}" th:field="*{dateEnter}"/>
                            </p>
                        </td>
                        <td>
                            <p>
                                Stop to Your home: <input type="date" th:value="*{dateExit}" th:field="*{dateExit}"/>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Start-city: <select th:field="*{cityEnter}">
                            <option th:each="carborrowing : ${(citi)}"
                                    th:value="${carborrowing}"
                                    th:text="${carborrowing}">
                            </option>
                        </select>
                        </td>
                        <td>
                            End-city: <select th:field="*{cityExit}">
                            <option th:each="carborrowing : ${(citi)}"
                                    th:value="${carborrowing}"
                                    th:text="${carborrowing}">
                            </option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <h1> If your cities are different, you must pay 100 to my pocket buahahah!</h1>

                    </tr>
                </table>

                <button th:action="sumbit">Show me the price!</button>

            </form>
        </h2>
    </div>
</div>
</body>
</html>