<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>YEAH, you can drive!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body background="https://www.wallpaperup.com/uploads/wallpapers/2013/12/30/209337/a456723ed43e77560628bd8ace73076f.jpg"
      style="margin:16px;padding:16px">

<div class="container, text-center">
    <div class="alert alert-primary" role="alert">
        <h1>Great!<br></h1>
        <h2>
            <p th:text="'Client: ' + ${user} + ' '+ ${lastName}"/>
            <p th:text="'Car model: ' + ${car}"/>
            <p th:text="'Start travel at: ' + ${enter}"/>
            <p th:text="'Stop travel at:  ' + ${exit}"/>
            <p th:text="'StartCity is: ' + ${cityEnter}"/>
            <p th:text="'StopCity is:  ' + ${cityExit}"/>
            <p th:text="'Price to my wallet: ' + ${price}"/>

            <a th:href="@{'/client/confirmBorrowCar'}" class="btn btn-primary">Good for You?</a>

            <a th:href="@{'/client/clientstart'}" class="btn btn-primary">STOP IT!</a>
            <!--TODO maybe method wrongDecision, or sth..., when we swap InformationService to null, eq. price = null, enterDate = null etc... -->

        </h2>
    </div>
</div>
</body>
</html>