<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">

        <div class="row">

            <div class="col">
                <form action="#" th:action="@{/admin/car}" th:method="get">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">Car</button>
                </form>

            </div>

            <div class="col">
                <form action="#" th:action="@{/admin/add}">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">Add new CAR</button>
                </form>
            </div>

            <div class="col">
                <form action="#" th:action="@{/admin/users}">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">User</button>
                </form>
            </div>

            <div class="col">
                <form action="#" th:action="@{/admin/cash}">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">Cash</button>
                </form>
            </div>

            <div class="col">
                <form action="#" th:action="@{/logout}">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</header>